<!DOCTYPE html>
<!--See comments in app.py for an explanation of what this app does-->
<!--This is the landing page-->

<!--improve style-->
<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    button {
        font-size: larger;
        color: rgb(242, 242, 242);
        background-color: rgb(13, 13, 13);
        border-color: dashed grey;
        margin: 1%;
    }

    div {
        background-color: rgb(13, 13, 13);
    }
</style>

<div class="center-screen">
    <a href="makepost">
        <button type="button">Create a character</button>
    </a>

    <br>

    <a href="seeposts">
        <button type="button">See all characters</button>
    </a>
</div>