<!DOCTYPE html>

<style>
    .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
}
</style>

<body>
    <form action="/display" method="POST">
        <div maindiv id="maindiv">
            {% if characters %}
                <script>
                    let charlist = "{{ characters }}";
                    let charcount = parseInt("{{ charcount }}");

                    const newpara = document.createElement("p");
                    newpara.innerHTML = "{{ characters[0].name }}";
                    document.getElementById("maindiv").appendChild(newpara);
                </script>
            {% endif %}
        </div>
    </form>
</body>