<!DOCTYPE html>

<style>
  body {
    background-color: rgb(13, 13, 13);
  }

  button {
    color: rgb(242, 242, 242);
    background: transparent;
    border: none;
  }
</style>

<body>
    <form action="/display" method="POST">
        <div maindiv id="maindiv">
            {% if characters %}
                {% for item in characters %}
                <!--Input whatever HTML elements you want to be created below:-->    
                <button value="{{ item.UniqueID }}" type="submit" name="character_input_button">Character: {{ item.name }}</button>
                <script>
                  console.log("{{ item.name }}");
                </script>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</body>