<!DOCTYPE html>

<style>
    .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
}
</style>

<body>
    <form action="/display" method="POST">
        <div maindiv id="maindiv">
            {% if characters %}
                {% for item in characters %}
                    <script>
                        console.log("{{ item.name }}");

                        const newpara = document.createElement("p");
                        newpara.innerHTML = "Name: {{ item.name }}";
                        document.getElementById("maindiv").append(newpara);
                    </script>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</body>